html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

.leaflet-control-scale {
  position: fixed;
  left: 50% !important;
  transform: translateX(-50%);
  bottom: 8px;
  margin: 0 !important;
  pointer-events: none;
}

.leaflet-control-scale-line {
  transition: all 0.2s ease;
}
